* {
    box-sizing: border-box;
}

:root {
    --bg-color: #444;
    --bg-color-2: #999;
    --bg-color-3: #ddd;
    --text-color: #fff;
    --text-color-2: #000;
    --nav-color: #111;
    --background-carousel: #ddd;
    --footer-color: #111;
}

body, header, nav, ul, li, a, span, section, div, main, footer, aside, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--bg-color), var(--bg-color-2), var(--bg-color-3));
    font-family: "Montserrat";
    min-height: 100vh;
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    background-color: var(--nav-color);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    height: 90px;
    width: 100%;
    animation: header-movement forwards;
    animation-timeline: scroll();
    animation-range: 10px 100px;
}

.header__logo-container {
    display: block;
    position: relative;
    z-index: 10;
    width: clamp(90px, 90%, 100px);
    margin: auto 30px;
    filter: contrast(1.5);
}

.header__logo-img {
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 0;
    max-width: 90%;
    width: clamp(70px, 50%, 200px);
    border-radius: 50%;
    border: 5px solid #111;
    filter: drop-shadow(0 0 4px #111) contrast() invert();
}

.header__nav {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header__nav-list {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item:hover {
    outline: 2px solid #fff;
    border-radius: 5px;
    filter: drop-shadow(0 0 4px #000);
}

.link > span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    filter: drop-shadow(0 0 1px #222);
}    

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.9rem;
    filter: drop-shadow(0 0 5px #aaa);
    text-align: center;
}

/* MAIN SECTION */

main {
    margin: auto;
    min-height: 100vh;
}

.portfolio__title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 4rem;
    margin: 20px auto;
    background-color: #222;
    letter-spacing: 8px;
    filter: drop-shadow(0 0 2px #fff);
    font-style: oblique;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    width: 95%;
    margin: 20px auto;
    gap: 20px;
    padding: 20px;
    background-color: #111;
    border-radius: 20px;
}

.portfolio__container:hover {
    padding: 40px;
}

.portfolio__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 10px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 48%;
    border: 5px solid #111;
    filter: drop-shadow(2px 2px 4px #111);
    transition: scale 0.6s ease-in-out;
}

.portfolio__images:hover {
    scale: 1.1;
    padding: 5px; 
    cursor: pointer;
    background-color: #fff;
    filter: drop-shadow(2px 2px 4px #111);
    filter: drop-shadow(10px 20px 30px #000);
    outline: 5px solid #999;
    border-radius: 10px;
    z-index: 10;
}

#f1 {
    grid-column-start: span 1;
}

#f3 {
    grid-row-start: span 2;
}

#f4 {
    grid-row-start: span 2;
}

#f7 {
    grid-column-start: span 2;
}

#f8 {
    grid-column-start: span 2;
}

/* FOOTER SECTION */

footer {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    background-color:var(--footer-color);
    color: #fffd;
    font-size: 1.1rem;
    border-top: 2px solid #fff;
    filter: drop-shadow(0 0 5px #fff);
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 1% contain 1%;
}

footer p {
    padding: 10px;
    text-align: center; 
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button{
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin: auto;
}

.button:hover{
    opacity: .9;
}

.button img {
    width: 100%;
    margin: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1366px) {

    .portfolio__title {
        font-size: 3rem;
    }
    
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 270px;
        width: 95%;
    }
    
    .portfolio__container:hover {
        padding: 35px;
    }

}

@media screen and (max-width: 1024px) {
    
    .header {
        min-height: 10vh;
        width: clamp(769px, 100%, auto);
    }

    .header__logo-container {
        width: clamp(80px, 100%, 90px);
        margin: auto;
        margin-left: 30px;
    }

    .header__logo-img {
        width: 90%;
        width: clamp(70%, 100%, 80%);
        border: 3px solid #111;
    }

    .portfolio__title {
        font-size: 3rem;
    }
    
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 250px;
        width: 95%;
    }
    
    .portfolio__container:hover {
        padding: 35px;
    }
}

@media screen and (max-width: 768px) {
    
    .header {
        min-height: 10vh;
        width: clamp(600px, 100%, 768px);
    }

    .header__logo-container {
        display: block;
        margin-left: 40px;
    }

    .header__logo-img {
        border: 3px solid #111;
    }

    .header__nav-list {
        margin-right: 0;
        display: flex;
        gap: 10px 0px;
        width: auto;
        height: 100%;
    }

    .link>span {
        font-size: 1.9rem;
    }

    .link {
        font-size: 1.2rem;
        flex-direction: column;
        gap: 3px;
    }

    .portfolio__title {
        font-size: 2.4rem;
        text-wrap: balance;
        background-color: #222;
        letter-spacing: 5px;
    }

    .portfolio__container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 460px;
        width: 97%;
        margin: 20px auto;
        gap: 20px;
        padding: 10px;
        background-color: #111;
        border-radius: 20px;
    }

    .portfolio__container:hover {
        padding: 35px;
    }

    .portfolio__images {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
    }

    .portfolio__images:hover {
        scale: 1.1;
        padding: 5px; 
        z-index: 1;
        cursor: pointer;
        background-color: #fff;
        filter: drop-shadow(2px 2px 4px #111);
        filter: drop-shadow(10px 20px 30px #000);
        outline: 5px solid #999;
        border-radius: 10px;
    }

    #f1 {
        grid-column-start: 1;
        grid-row-start: span 1;
    }

    #f2 {
        grid-column-start: span 2;
    }

    #f3 {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    #f4 {
        grid-column-start: 3;
        grid-row-start: span 1;
    }

    #f6 {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    #f7 {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    #f8 {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
}

@media screen and (max-width: 600px) {

    .header {
        min-height: 10vh;
        width: clamp(200px, 100%, 600px);
        position: static;
    }

    .header__logo-container {
        display: block;
        margin-left: 25px;
    }
    
    .header__logo-img {
        width: 80%;
        margin-left: 0 auto;
    }

    .header__nav {
        width: auto;
        margin: auto;
        padding: 0px;
    }

    .header__nav-list {
        display: flex;
        gap: 10px 30px;
        margin-right: 20px;
        width: auto;
        height: 100%;
    }

    .header__nav-item:active {
        outline: 2px solid #fff;
        border-radius: 5px;
        filter: drop-shadow(0 0 4px #000);
    }

    .link>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
    }

    .link {
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        gap: 2px 0;
    }

    .portfolio__title {
        font-size: 2.3rem;
        text-wrap: balance;
        background-color: #222;
        letter-spacing: 5px;
    }
    
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        width: 97%;
        height: 100%;
        margin: 20px auto;
        gap: 20px;
        padding: 20px;
        background-color: #111;
        border-radius: 20px;
    }

    .portfolio__container:hover {
        padding: 35px;
        gap: 30px;
    }

    .portfolio__images {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
    }

    .portfolio__images:hover {
        scale: 1.1;
        padding: 5px; 
        z-index: 1;
        cursor: pointer;
        background-color: #fff;
        filter: drop-shadow(2px 2px 4px #111);
        filter: drop-shadow(10px 20px 30px #000);
        outline: 5px solid #999;
        border-radius: 10px;
    }

    #f1 {
        grid-column-start: 1;
        grid-row-start: span 1;
    }

    #f2 {
        grid-column-start: 2;
    }

    #f3 {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    #f4 {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    #f7 {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }
    
    #f6 {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    #f8 {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }
}


@media screen and (max-width: 400px) {
    
    .header {
        min-height: 10vh;
        width: clamp(100px, 100%, 400px);
        position: static;
    }

    .header__logo-container {
        display: block;
        margin: 15px;
    }

    .header__logo-img {
        width: 90%;
    }

    .header__nav {
        width: auto;
        margin: auto;
        padding: 0px;
    }

    .header__nav-list {
        display: flex;
        gap: 20px;
        width: auto;
        padding: 5px;
        margin-right: 15px;
    }

    .header__nav-item:active {
        outline: 2px solid #fff;
        border-radius: 5px;
        filter: drop-shadow(0 0 4px #000);
    }

    .link>span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }

    .link {
        display: flex;
        font-size: .9rem;
        flex-direction: column;
        gap: 2px;
    }

    .portfolio__title {
        font-size: 1.7rem;
    }

    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        width: 95%;
        border-radius: 10px;
    }

    footer {
        margin-top: 0;
        padding: 10px 0;
        font-size: .85rem;
    }

    .button {
        width: 5rem;
        height: 2.5rem;
    }

    .button:hover {
        opacity: .9;
    }
}


/* ANIMATIONS */

@keyframes header-movement {
    form {background-color: var(--nav-color);}
    to {background-color: #0009;}
}

@keyframes aparecer {
    from {opacity: 0;}
    to {opacity: 1;};
}